body {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 200px;
    height: 300px;
    background-color: #ffffff; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
}


.spade::before,
.club::before,
.heart::before,
.diamond::before {
    content: "";
    position: absolute;
    font-size: 30px;
    color: black; 
}

.spade::before {
    content: "♠"; 
    top: 10px;
    left: 10px;
}

.club::before {
    content: "♣"; 
    top: 10px;
    left: 10px;
}

.heart::before {
    content: "♥"; 
    color: red; 
    top: 10px;
    left: 10px;
}

.diamond::before {
    content: "♦"; 
    color: red; 
    top: 10px;
    left: 10px;
}
.spade::after,
.club::after,
.heart::after,
.diamond::after {
    content: "";
    position: absolute;
    font-size: 30px;
    color: black; 
}
.spade::after {
    content: "♠"; 
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
}

.club::after {
    content: "♣"; 
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
}

.heart::after {
    content: "♥"; 
    color: red; 
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
}

.diamond::after {
    content: "♦"; 
    color: red; 
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
}
